body {
    background-color: blue;
}
.board {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    color: blue;
}

.board-row {
    height: 12.5%;
    display: flex;
}

.board-space {
    font-size: 8px;
    width: 12.5%;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.selected {
    background-color: green;
}