body {
    background-color: #6577B3;
}
.board-wrapper{
    display: flex;
    justify-content: space-around;

}

.board {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px #171717;
}

.board-row {
    height: 12.5%;
    display: flex;

}

.board-space {
    font-size: 8px;
    width: 12.5%;
}

.board-space img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 5s;
}

.black{
    background-color: #BB8D6F;
}

.white{
    background-color: #FDFBF9;
}

.selected {
    cursor: pointer;
    background-color: #6577B3;
    transition: background-color 0.15s;
}